body {
    background-color: rgb(224, 224, 231);
}

h1 {
    color: rgb(8, 7, 7);
    font-family: Arial, Helvetica, sans-serif;
}
h2 {
  color: rgb(91, 23, 23);
  font-family: cursive;

}
p {
  color: rgb(106, 74, 19);
  font-family: monospace;
}