body {
    background-color: rgba(158, 147, 147, 0.86);
}

h1 {
    color: rgb(86, 25, 25);
    font-family: Arial, Helvetica, sans-serif;
}
h2 {
  color: rgb(54, 7, 7);
  font-family: monospace;

}
p {
  color: rgb(72, 48, 3);
  font-family: monospace;
}