body {
    background-color: rgba(224, 224, 231, 0.86);
}

h1 {
    color: rgb(49, 45, 45);
    font-family: Arial, Helvetica, sans-serif;
}
h2 {
  color: rgb(81, 17, 17);
  font-family: cursive;

}
p {
  color: rgb(141, 89, 1);
  font-family: monospace;
}